/dist
/coverage
/docs/.vitepress/dist
/test/e2e/reports
/test/e2e/screenshots
*.log
.DS_Store
node_modules
SUPABASE_URL=https://owrevqqfctnilkbettpy.supabase.co
SUPABASE_DB_URL=postgresql://postgres:2023$%@db.owrevqqfctnilkbettpy.supabase.co:5432/postgres
SUPABASE_PROJECT_REF=owrevqqfctnilkbettpy
SUPABASE_PUBLISHABLE_KEY=sb_publishable_u4tbAzi0BhtSR2K5n2w2yg_Wuzubz8v
SUPABASE_SERVICE_ROLE=your_service_role_key_here
SUPABASE_ACCESS_TOKEN= your_acess_key_here


VERCEL_PROJECT_ID=prj_VOpAReVa5QFQMhUZ2P0TaKbokntQ
VERCEL_TOKEN=your_vercel_api_token_here

