@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can also add your own global styles here */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #111827;
}
